# Исключение виртуального окружения
../.venv/
venv/

# Исключение файлов кеша Python
*.pyc
*.pyo
__pycache__/

# Исключение логов
*.log

# Исключение базы данных SQLite (если используется)
db.sqlite3

# Исключение файлов миграции
migrations/
*/migrations/*.py

# Исключение файлов __init__.py
__init__.py
*/__init__.py

# Исключение файлов IDE
.idea/
.vscode/

# Исключение статических и медиафайлов
staticfiles/
media/

# Исключение файлов с конфиденциальной информацией
CareerPathStudents/settings.py
